@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  cursor: pointer;
  cursor: help;
  cursor: progress;

  cursor: url("/pushpin.png") 0 30, auto
}

path {
  transition: fill .1s linear
}

path:hover {
  fill: #565656
}